In [ ]:
print("This is Python output example")

This is Python output example

In [ ]:
print("First", "Object",  123)

First Object 123

In [ ]:
print("First", "Separate", sep="-")

First-Separate

In [ ]:
print("First column", end=" ")
print("Second column")

First column Second column

In [ ]:
print("Join 2 Strings " + "Using +  operator")

Join 2 Strings Using +  operator

In [ ]:
x = 12
y = 2

print("Called x = {} and y {}". format(x, y))

Called x = 12 and y 2

In [ ]:
name = input("Username :")
country = input("Country :")

print("Username is {} and country is {}".format(name, country))

Username :Rel
Country :Indonesia
Username is Rel and country is Indonesia

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=bd2bba450429f962fc23bedee5db343ace096e1d5430dd03b74415317d45fa1e
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-12 06:50:58--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-12 06:50:58 (14.3 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
data_1 = "/data_1.txt"
file1 = open(data_1, "r")

FileData_1 = file1.read()
print(FileData_1)

Test 1
Test 2
Test 3

In [ ]:
with open(data_1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Test 1
Test 2
Test 3

In [ ]:
with open(data_1, "r") as file1:
    print(file1.read(4))

Test

In [ ]:
with open(data_1, "r") as file1:
    FileasList = file1.readlines()

FileasList[1]

'Test 2\n'

In [ ]:
with open('/Example2.txt', 'w') as writefile:
    writefile.write("New TXT File")

In [ ]:
with open('/Biodata.txt', 'w') as Biodata:
    Biodata.write("Nama : Farrel Apriandry Ciu\n")
    Biodata.write("Prodi : Teknologi Informasi\n")
    Biodata.write("NPM : 2430506056\n")
    Biodata.write("Alamat : JL. Radar\n")
    Biodata.write("Hobi : Ada\n")
    Biodata.write("Email : pripri@yahoo.com")

In [ ]:
with open("/Biodata.txt", "r") as biodata_txt:
    FileBiodata = biodata_txt.read()
    print(FileBiodata)

Nama : Farrel Apriandry Ciu
Prodi : Teknologi Informasi
NPM : 2430506056
Alamat : JL. Radar
Hobi : Ada
Email : pripri@yahoo.com

In [ ]:
with open("/Biodata.txt", "r") as biodata_update:
    FileasList = biodata_update.readlines()

nama = FileasList[0].strip()
npm = FileasList[2].strip()
prodi = FileasList[1].strip()
alamat = FileasList[3].strip()

new_biodata = f"{nama}\n{npm}\n{prodi}\n{alamat}"

with open("/Biodata_update.txt", "w") as biodata_update:
    biodata_update.write(new_biodata)

print(new_biodata)

Nama : Farrel Apriandry Ciu
NPM : 2430506056
Prodi : Teknologi Informasi
Alamat : JL. Radar

In [ ]:
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023       13.05")
print(" ")

print("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = 'Shampo'
item3 = "Mie instant"
item4 = "Detergen"
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1+harga2+harga3+harga4

print(item1,          "= Rp"  + str(harga1))
print(item2,          "= Rp"  + str(harga2))
print(item3,          "= Rp" + str(harga3))
print(item4,          "= Rp" + str(harga4))

print(" ")
print("Total = Rp "+ str(total))

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write(" \n")
        writefile.write("Kuitansi - 4 Septermber 2023\n")
        writefile.write(" \n")
        writefile.write(item1+" = Rp " + str(harga1) +"\n")
        writefile.write(item2+" = Rp " + str(harga2) +"\n")
        writefile.write(item3+" = Rp " + str(harga3) +"\n")
        writefile.write(item4+" = Rp " + str(harga4) +"\n")
        writefile.write(" \n")
        writefile.write("Total Belanja ="+ str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023       13.05

DAFTAR BELANJA:
Sabun = Rp10000
Shampo = Rp15000
Mie instant = Rp5000
Detergen = Rp17500

Total = Rp 47500

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print "Senin, 4 September 2023       13.05")
print(" "

print "DAFTAR BELANJA:")
item1 = "Sabun"
item2 = 'Shampo'
item3 = Mie instant
item4 = Detergen
harga1 = Rp 10000
harga2 = 15000
harga3 = Rp 5000
harga4 = 17500

total = hargga1+harga2+hargga3+harga

print(item1,          = Rp  + harga1)
print(item2, '        = Rp '+ harga2)
print(item3,    = Rp + hargaa3)
print(item4,       = Rp + harga)

print(" ")
print("Total = Rp "+total)

with open('Kuitansi.txt', w') writefile:
        writefiile.write("Selamat Datang di Toko Maju Jaya\n")
        writefille.write(" \n")
        writefiile.write("Kuitansi - 4 Septermber 2023\n")
        writefille.write(" \n")
        writefiile.write(item1+" = Rp " harga1+"\n"
        writefille.write(item2+" = Rp " harga2")
        writefiile.write(item3+" = Rp " harga3+\n")
        writefille.write(item4+" = Rp " harga4+"\n)
        writefiile.write(" \n")
        writefille.write("Total Belanja ="+total