In [ ]:
# String

"This is string object type"

'This is string object type'

In [ ]:
# Integers

125

125

In [ ]:
# Float

3.14

3.14

In [ ]:
# Str type

type("This is string object type")

str

In [ ]:
# Int type

type(125)

int

In [ ]:
# Float type

type(3.14)

float

In [ ]:
# Convert Integer to String

type(str(125))

str

In [ ]:
# Convert Integer to Float

type(float(125))

float

In [ ]:
# What is the data type of the result of 6/2?

type(6/2)

float

In [ ]:
# What is the data type of the result of 6//2? (Note the double slash //)

type(6//2)

int

In [ ]:
# Addition Operation

type(10.5 + 20.5)

float

In [ ]:
# Substraction Operation

type(20 - 5)

int

In [ ]:
# Multiplication Operation

4 * 4

16

In [ ]:
# Division Operation

30/5

6.0

In [ ]:
# Integer Division Operation

30//5

6

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

240/60

4.0

In [ ]:
# Mathematical expression

10 + 5 * 4 // 2

20

In [ ]:
# Mathematical expression

(6 + 4) * 5

100

In [ ]:
# Print variable

x = 20 + 5 * 2

print(x)

30

In [ ]:
# Digital Market example

milk_price = 5

milk_result = milk_price * 2

print("$" + (str(milk_result)))

$10

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

x = 5 + 4 * 4

print(x)

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

y = (24+6) // 5

print(y)

6

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volum = panjang*lebar*tinggi

print("Panjang = " + (str(panjang)))
print("Lebar = " + (str(lebar)))
print("Tinggi = " + (str(tinggi)))
print("Keliling = " + (str(int(keliling))))
print("Volume = " + (str(int(volum))))

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91
Volume = 5125

In [ ]:
#Deklarasi setiap nilai Mahasiswa kedalam sebuah variabel
#n_1 untuk mata kuliah pertama = Kalkulus 1
#n_2 untuk mata kuliah kedua = Metode Statistika

shafira_n_1 = 85
shafira_n_2 = 75
amanda_n_1 = 80
amanda_n_2 = 90
aditya_n_1 = 75
aditya_n_2 = 80
nedia_n_1 = 95
nedia_n_2 = 80
widya_n_1 = 85
widya_n_2 = 85
hanif_n_1 = 75
hanif_n_2 = 90
andi_n_1 = 70
andi_n_2 = 75
dhanar_n_1 = 85
dhanar_n_2 = 85
hikma_n_1 = 80
hikma_n_2 = 75

print("===== Program untuk menampilkan data-data berikut =====")
print("")

#Rata-rata nilai Shafira pada kedua mata kuliah

r_r_n_shafira = (shafira_n_1 + shafira_n_2) // 2

print("Rata-rata nilai Shafira pada kedua mata kuliah adalah = " + (str(r_r_n_shafira)))
print("")

#Jumlah nilai Hanif dan Andi untuk semua mata kuliah

jml_n_hanif_andi = (hanif_n_1 + hanif_n_2 + andi_n_1 + andi_n_2)

print("Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah = " + (str(jml_n_hanif_andi)))
print("")

#Rata-rata nilai kalkulus 1 Widya, Dhanar, Hikma, dan Nedia pada masing mata kuliah

r_r_n_kalkulus = ((widya_n_1 + dhanar_n_1 + hikma_n_1 + nedia_n_1) // 4)

print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah kalkulus 1 adalah = " + (str(r_r_n_kalkulus)))
print("")

#Rata-rata nilai Metode Statistika Widya, Dhanar, Hikma, dan Nedia pada masing mata kuliah

r_r_n_statistika = ((widya_n_2 + dhanar_n_2 + hikma_n_2 + nedia_n_2) // 4)

print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika adalah = " + (str(r_r_n_statistika)))
print("")

#Rata-rata nilai kalkulus 1 pada semua mahasiswa

r_r_n_kalkulus_sm = ((shafira_n_1 + amanda_n_1 + aditya_n_1 + nedia_n_1 + widya_n_1 + hanif_n_1 + andi_n_1 + dhanar_n_1 + hikma_n_1) // 9 )

print("Rata-rata nilai kalkulus 1 pada semua mahasiswa adalah = " + (str(r_r_n_kalkulus_sm)))
print("")

#Rata-rata nilai Metode Statistika pada semua mahasiswa

r_r_n_statistika_sm = ((shafira_n_2 + amanda_n_2 + aditya_n_2 + nedia_n_2 + widya_n_2 + hanif_n_2 + andi_n_2 + dhanar_n_2 + hikma_n_2) // 9 )

print("Rata-rata nilai metode statistika pada semua mahasiswa adalah = " + (str(r_r_n_statistika_sm)))

===== Program untuk menampilkan data-data berikut =====

Rata-rata nilai Shafira pada kedua mata kuliah adalah = 80

Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah = 310

Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah kalkulus 1 adalah = 86

Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika adalah = 81

Rata-rata nilai kalkulus 1 pada semua mahasiswa adalah = 81

Rata-rata nilai metode statistika pada semua mahasiswa adalah = 81

In [ ]:
br = ""

lama_kerja = 10 #Lama kerja Dwi
jam_kerja = 8 #Jam Kerja Dwi selama 1 hari
gaji_jam = 30000 #Gaji Dwi perjam
gaji_hari = gaji_jam * jam_kerja # Gaji Dwi perhari

print("===== Perhitungan gaji Dwi pada beberapa kondisi =====")
print(br)

# Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari

jml_hari_bln_agustus = 31 # Jumlah Hari pada bulan Agustus
jml_hari_izin_dwi = 3 # Jumlah hari Dwi izin pada bulan Agustus
hari_lbr_bln_agustus = 8 # Hari libur seperti sabtu dan minggu

gaji_dwi_bln_agustus = (jml_hari_bln_agustus - jml_hari_izin_dwi - hari_lbr_bln_agustus) * gaji_hari # Gaji Dwi pada bulan agustus yang sudah melalui perhitungan tidak masuk kerja
formatted_gaji_dwi = f"{gaji_dwi_bln_agustus:,}".replace(",", ".")


print("Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari adalah = Rp" + (str(formatted_gaji_dwi)))
print(br)

# Tunjangan Dwi pada bulan Agustus jika karyawan yang sudah bekerja lebih dari 5 Tahun mendapat tunjangan sebesar 10%

tunjangan = 0.1 # Tunjangan sebesar 10% dari gaji atau 0.1/1 dari gaji

tunjangan_dwi_bln_agustus = gaji_bln_agustus * tunjangan # tunjangan Dwi pada bulan Agustus
formatted_tunjangan_akhir_dwi = f"{tunjangan_dwi_bln_agustus:,}".replace(",", ".")

print("Tunjangan Dwi pada bulan Agustus sebesar = Rp" + (str(formatted_tunjangan_akhir_dwi)))
print(br)

# Pada bulan Agustus Dwi mendapatkan tugas lembur selama 5 jam, gaji total yang diterima oleh Dwi pada bulan Agustus

upah_lembur = 10000 # Upah lembur setiap 1 jam lembur adalah 10.000/Jam
lama_dwi_lembur_agustus = 5 # Lama lembur Dwi pada Bulan Agustus adalah 5 jam

ttl_keuntungan_lembur_dwi = lama_dwi_lembur_agustus * upah_lembur

gaji_akhir_dwi_bln_agustus = gaji_bln_agustus + tunjangan_dwi_bln_agustus + ttl_keuntungan_lembur_dwi
formatted_gaji_akhir_dwi = f"{gaji_akhir_dwi_bln_agustus:,}".replace(",", ".")

print("Total gaji Dwi secara keseluruhan, dengan tunjangan dan upah lembur adalah = Rp" + (str(formatted_gaji_akhir_dwi)))

===== Perhitungan gaji Dwi pada beberapa kondisi =====

Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari adalah = Rp4.800.000

Tunjangan Dwi pada bulan Agustus sebesar = Rp480.000.0

Total gaji Dwi secara keseluruhan, dengan tunjangan dan upah lembur adalah = Rp5.330.000.0