In [ ]:
range(3)

age = [17,19,21]
N = len(age)

for i in range(N):
    print(age[i])

17
19
21

In [ ]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [ ]:
list = [1,2,3,4,5]
for number in list:
    print(number)

1
2
3
4
5

In [ ]:
number = ['-1', '0', '1', '2']

for i in range(0, 3):
    print("Before number ", i, 'is',  number[i])
    squares[i] = 'weight'
    print("After number ", i, 'is',  number[i])

Before number  0 is -1
After number  0 is -1
Before number  1 is 0
After number  1 is 0
Before number  2 is 1
After number  2 is 1

In [ ]:
color = ['red', 'yellow', 'green', 'blue']

for i, color in enumerate(color):
    i = i + 1
    print(i, color)

1 red
2 yellow
3 green
4 blue

In [8]:
age = [17, 21, 23, 25]

i = 0
number = 0

while(number != age[2]):
    number = age[i]
    i = i + 1
    print(number)

print("It took ", i ,"repetitions to get out of loop.")

17
21
23
It took  3 repetitions to get out of loop.

In [11]:
for i in range(1, 3):
    for j in range(1, 3):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 2, j = 1
i = 2, j = 2

In [12]:
ln = int(input("Jumlah baris: "))
spc = ln - 1

for i in range(ln):
  print(" " * spc + "* " * (i + 1))
  spc -= 1

Jumlah baris: 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [13]:
x = int(input("Jumlah baris: "))

def pascal(a, b) :
  if b in (0, a) :
    return 1
  return pascal(a - 1, b - 1) + pascal(a - 1, b)

for row in range(x) :
  print(" " * (x - row - 1), end="")
  for b in range(row + 1) :
    print(pascal(row, b), end=" ")
  print()

Jumlah baris: 10
         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
  1 7 21 35 35 21 7 1
 1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

In [17]:
def pascal(a, b) :
  if b in (0, a) :
    return 1
  return pascal(a - 1, b - 1) + pascal(a - 1, b)

def hasilBaris(x):
  jumlah = 0
  for b in range(x):
    jumlah += pascal(x - 1, b)
  return jumlah

x = int(input("Input jumlah baris: "))
print(hasilBaris(x))

Input jumlah baris: 10
512